<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col" ng-controller='ArtworkCtrl'>
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Đăng tác phẩm</h1>
                </div>
                <!-- <div class="col-sm-6 text-right hidden-xs">
                    <div class="inline text-left">
                        <button class="btn btn-success"><i class='fa fa-television'></i> Tải lên sản phẩm</button>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- / main header -->
        <div class="clearfix"></div>
        <div class="padder artworks-create-page ">
            <div class="bg-white m-t-md">
                <div class="panel panel-default">
                    <form ng-submit="save(frm)">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 " style="min-height:500px">
                                    <div class="b-a b-2x wrapper-lg color-swatch gray-lighter text-center m-b" style="background:#eee url({{MediaPath + feature_image}}) no-repeat ;min-height:300px;background-size:100% 100%;">
                                      
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="{{uploadProcessing}}" aria-valuemin="0" aria-valuemax="100"  aria-valuetext="{{uploadProcessing}}%" style="width: {{uploadProcessing}}%;"></div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-3" ng-repeat="image in list_images">
                                            <div class="b-a " style="background:#eee url({{MediaPath + image}});background-size:100% 100px;height:100px;overflow:hidden;cursor:pointer" ng-click="setFeatureImage(image)" >
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="b-a b-dashed" nv-file-drop="" uploader="uploader">
                                                <div nv-file-over="" uploader="uploader" over-class="another-file-over-class">
                                                    <input type="file" class="w-full input-uploader-popup" nv-file-select="" uploader="uploader" multiple />
                                                    <span class="content-uploader-popup"><i class="fa fa-picture-o fa-lg"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="alert alert-success m-t-md"><strong>Mẹo</strong>: Các bức ảnh nên được loại bỏ các vật dụng hoặc khoảng thừa (con người, khung , tường ..) tập chung chính vào nội dung bức ảnh </div>
                                </div>
                                <div class="col-md-8 col-sm-6">

                                    <div class="form-group">
                                        <label>Tên tác phẩm</label>
                                        <input type="text"
                                               class="form-control "
                                               ng-model="frm.name"  required
                                               tabindex="0"
                                               aria-required="true" aria-invalid="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả ngắn về tác phẩm</label>
                                        <textarea class="form-control" ng-model="frm.description" required></textarea>
                                        
                                    </div>
                                    <div class="form-group pull-in clearfix">
                                        <div class="col-sm-6">
                                            <label>Phong cách</label>
                                            <select class="form-control" ng-model="frm.style" required>
                                                <option value="">Chọn phong cách</option>
                                                <option ng-repeat="item in list_style" value="item.id">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Chất liệu</label>
                                            
                                            <select class="form-control" ng-model="frm.material" required>
                                                <option value="">Chọn chất liệu</option>
                                                <option ng-repeat="item in list_material" value="item.id">{{item.name}}</option>
                                            </select>
                                        
                                        </div>
                                    </div>
                                    <div class="form-group pull-in clearfix">
                                        <div class="col-sm-6">
                                            <label>Tông màu chính</label>
                                            <select class="form-control" ng-model="frm.color" required>
                                                <option value="">Chọn tông màu</option>
                                                <option ng-repeat="item in list_color" value="item.id" >{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Giá tác phẩm</label>
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="frm.pricing"
                                                   aria-required="true" aria-invalid="true" formatnumber> 
                                        </div>
                                    </div>
                                    <div class="form-group pull-in clearfix">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Dài (cm)</label>
                                                    <input type="text"
                                                       class="form-control "
                                                       ng-model="frm.long"
                                                       tabindex="0"
                                                       required
                                                       aria-required="true" aria-invalid="true" formatnumber>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Rộng (cm)</label>
                                                    <input type="text"
                                                       class="form-control"
                                                       ng-model="frm.width"
                                                       tabindex="0"
                                                       required
                                                       aria-required="true" aria-invalid="true" formatnumber>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cao (cm)</label>
                                                    <input type="text"
                                                       class="form-control"
                                                       ng-model="frm.height"
                                                       tabindex="0"
                                                       required
                                                       aria-required="true" aria-invalid="true" formatnumber>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Trọng lượng (gram)</label>
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="frm.weight"
                                                   tabindex="0"
                                                   
                                                   aria-required="true" aria-invalid="true" formatnumber>
                                        </div>
                                    </div>
                                        
                                    
                                    
                                    <div class="checkbox">
                                        <label class="i-checks">
                                            <input type="checkbox"  checked
                                                   ng-model="frm.forsale"
                                                   tabindex="0"
                                                   ><i></i> Tác phẩm thương mại
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success" aria-disabled="true">Đăng tác phẩm
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / main -->
</div>
