<div class="  w-auto-xs" ng-controller="LoginController" ng-init="app.settings.container = false;">
    

<div class="m-b-lg row">
    <div class="col-md-6">
        <a href class="navbar-brand block m-t">Đăng ký tài khoản tại {{app.name}}</a>
        <form name="form" class="form-validation" ng-submit="register(user)">
        <div class="form-group">
                <input type="text" class="form-control" placeholder="Họ tên" ng-model="user.name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mật khẩu" ng-model="user.password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" ng-model="user.repassword" required>
            </div>
            
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                  <input type="checkbox" ng-model="agree" required><i></i> Tôi đồng ý với các điều khoản trên
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled='btnLogin'>Đăng ký</button>
            <div class="line line-dashed"></div>
            <a ui-sref="access.login" class="btn btn-lg btn-default btn-block">Đăng nhập</a>
        </form>

    </div>
    <div class="col-md-6">
        Xin chao
    </div>
</div>
</div>
